<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <h1>Register Page</h1>

    <form action="" method="POST">
        {{ form.hidden_tag() }}
        {{ form.username }}
        {{ form.password }}
        {{ form.submit }}
    </form>

    <!-- Display registration error message, if applicable -->
    {% if form.username.errors %}
    <p class="error">{{ form.username.errors[0] }}</p>
    {% endif %}

    <a href="{{url_for('login')}}">Already have an account? Login in</a><br>
</body>
</html>